{% extends "base.html" %}

{%block title%} Crear mensajes {%endblock%}

{%block header%}<script src="/static/mensajes/function.js"></script>
{%endblock%}

{%block content%}
    <form method="POST">
        {% csrf_token %}    <!--token para permitir el uso-->

        <label for="remitente"><b>Remitente</b></label><br>
        <input type="text" id="remitente" name="remitente" placeholder="usuario" required><br><br>

        <label for="destinatario"><b>Destinatario</b> </label><br>
        <textarea id="destinatario" name="destinatario" placeholder="jccasco" required></textarea><br><br>

        <p><label for="textoMensaje"><b>Mensaje</b></label><br>
        <textarea id="textoMensaje" name="textoMensaje" maxlength="500" cols="30" rows="10" placeholder="Máximo 500 caracteres" required></textarea>
        <br><br>
      
        <button type="submit" style="width: 130px; height: 45px; font-family: Sans-Seriff;"><b>Crear Mensaje</b></button>
    </form>

  
{%endblock%}


