{% extends "base.html" %}

{%block title%} Mensajes para eliminar {%endblock%}

{%block header%}{%endblock%}

{%block content%}
    <form method="POST">
        {% csrf_token %}
        <ul>
            {% for mensaje in mensajes %}
            <li>
                <input type="checkbox" name="seleccionar" value="{{ mensaje.id }}">     <!--checkbox para seleccionar 1 o más mensajes-->
                De: <b>{{ mensaje.remitente |capfirst}}</b> 
                Para: <b>{{ mensaje.destinatario |capfirst}}</b> 
                <br>{{ mensaje.textoMensaje |capfirst}}
                <br><b>Fecha enviado</b> {{ mensaje.fechaEnvio }}<br><br>
            </li>
            {% endfor %}
        </ul>
        <button type="submit" style="width: 150px; height: 45px; font-family: Sans-Seriff;"><b>Eliminar seleccionado/s</b></button>
    </form>
{%endblock%}