{% extends "base.html" %}

{%block title%} Mensajes para eliminar {%endblock%}

{%block header%}{%endblock%}

{%block content%}
    <form method="POST">
        {% csrf_token %}
        <ul>
            {% for mensaje in mensajes %}
            <li>
                <input type="checkbox" name="seleccionar" value="{{ mensaje.id }}">
                De: <b>{{ mensaje.remitente }}</b> 
                Para: <b>{{ mensaje.destinatario }}</b> 
                <br>{{ mensaje.textoMensaje }}
                <br><b>Fecha enviado</b> {{ mensaje.fechaEnvio }}<br><br>
            </li>
            {% endfor %}
        </ul>
        <button type="submit">Eliminar seleccionado/s</button>
    </form>
{%endblock%}