{% extends "base.html" %}

{%block title%} Trabajo Práctico n° 2 {%endblock%}

{%block header%}{%endblock%}

{% block content %}
    <b><p>Sean Bienvenidos/as a mi trabajo práctico 2. </p>
    <p>En esta nueva entrega probaremos y utilizaremos mejor los filtros en la base de datos.</p>
    <p>Y experimentaremos la creación y eliminación de cualquier mensaje que hayamos creado.</p>
    <p>Para más información de la página, visite <a href="https://github.com/ValentinoViento/TableroMensajes"><i>https://github.com/ValentinoViento/TableroMensajes</i></a> </p> </b>
{% endblock %}