{% extends "base.html" %}

{% block title %}Mensajes enviados/recibidos{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}

<form method="GET">
    <table>
        <tr>
            <td>
            <h3>Enviados</h3>
            <select name="remitente_filtro">
                <option value="">-----</option>
                {% for remitente in remitentes %}
                    <option value="{{ remitente }}" {% if remitente == request.GET.remitente_filtro %}selected{% endif %}>{{ remitente }}</option><!--Este código ayuda y determina que la opción seleccionada quede fija, en caso de querer utilizar ambos filtros en simultáneo-->
                {% endfor %}
            </select>   
            </td>

            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>  <!-- tabla con espacio para separar ambos filtros-->
                
            <td>
            <h3>Recibidos</h3>
            <select name="destinatario_filtro">
                <option value="">-----</option>  
                {% for destinatario in destinatarios %}
                    <option value="{{ destinatario }}" {% if destinatario == request.GET.destinatario_filtro %}selected{% endif %}>{{ destinatario }}</option> 
                {% endfor %}
            </select>
            </td>
        </tr>
    </table>         

    <br><button type="submit" style="width: 60px; height: 25px; font-family: Sans-Seriff;"><b>Filtrar</b></button>
</form>

<ul>
    {% for mensaje in mensajes %}
    <li>
        De: <b>{{ mensaje.remitente |capfirst}}</b> 
        Para: <b>{{ mensaje.destinatario |capfirst}}</b> 
        <br>    <br>{{ mensaje.textoMensaje |capfirst}}
        <br><br><b>Fecha enviado</b> {{ mensaje.fechaEnvio }}<br><br>
    </li>
    {% empty %}
        <li>No hay ningún mensaje registrado.</li>
    {% endfor %}
</ul>
{% endblock %}