{% extends "base.html" %}

{% block title %}Mensajes enviados/recibidos{% endblock title %}

{% block header %}{% endblock header %}

{%block content%}

    <form method="GET"> 
        <input type="radio" name="mensaje_remitente" value="remitente"> Enviados
        <input type="radio" name="mensaje_destinatario" value="destinatario"> Recibidos
        <button type="submit">Filtrar</button>
    </form>

    <ul>
        {% for mensaje in mensajes %}
        <li>
            De: <b>{{ mensaje.remitente }}</b> 
            Para: <b>{{ mensaje.destinatario }}</b> 
            <br>{{ mensaje.textoMensaje }}
            <br><b>Fecha enviado</b> {{ mensaje.fechaEnvio }}<br><br>
        </li>
        {% endfor %}
    </ul>

{%endblock%}