header {
    background-color: lightgray;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;    
    height: 50%;
    width: 80%;
    margin: auto;
    font-family: sans-serif;
}

nav li {
    margin: 10px;
}


body {
    background-color: aqua;
}



table {
    width: 500px;
    border-collapse: collapse;
}

td, tr {
    display: inline-table   ;
    border: 5px;
    padding: 70px;
    margin-right: 70px;
}